<!DOCTYPE html>
<html lang="ru">
<head>
    {% include '../meta/common/head.njk' %}
</head>
<body>
    <div class="wrapper">
        {% include './common/header.njk' %}
            <div class="main">
                <div class="container">
                <img class="all-pages-img" src="../../assets/img/1.svg">
                    <ol class="all-pages-list">
                        {# <li><a href="./uikit.html">UIkit</a></li> #}
                        <li><a href="./mainPage.html">mainPage</a></li>
                    </ol>
                </div>
        </div>
        {% include './common/footer.njk' %}
    </div>
</body>