<!DOCTYPE html>
<html lang="ru">
<head>
    {% include '../meta/common/head.njk' %}
</head>
<body>
    <div class="wrapper">
        {% include './common/header.njk' %}
        {% include './mainPage/_mainPage.njk' %}
        {% include './common/footer.njk' %}
    </div>
</body>