// цвета
// палитра
// $color-white: #fff;

// по палитре с фигмы для использования
// 

// Анимации
// $transitionAll: all 0.2s ease;

// шрифты
// подключенные
// $avenir-regular: 'avenirnextcyr-regular';

// текст
// $ff-reg: $avenir-regular;

// Breakpoints
$screenXS:              575px;         
$screenS:               770px;         
$screenXM:              990px;         
$screenM:              1140px;          
$screenL:              1280px;         
$screenXL:             1440px;
$screenXXL:            1600px;